div#board{
  margin: 8vh 0 4vh 0;
  background: white;
  border-radius: 12px;
  border: 1px #D3D3D3	solid;
}

body{
  background:#F5F5F5;
  margin: 0 0 0 0;
}

div.student{
  margin: 1.4vh 0 1.4vh 0;
  border-bottom: 0.1vh #D3D3D3	solid;
  display: -webkit-inline-box;
}

img{
  height: 100px;
  border: 1px #D3D3D3	solid;
  border-radius: 50%;
  margin: 2vh 0 0 0;
}

div.studentInfo{
  margin: 0 0 0 3vw;
  width: 70%;
}

h1{
  margin: 0 0 1vh 0;
}

p{
  margin: 2px 0 2px 2vw;
  font-size: 24px;
}

input{
  margin: 0.5vh 0 0 0.2vw;
  border: none;
  border-bottom: 1px solid #D3d3d3;
  width: 48%;
  color: #D3d3d3;
  font-size: 2vw;
  padding: 1.5vh 0 1.5vh 1vw;
}

div.grades{
  margin: 3vh 0 2vh 0 ;
}

span#grade{
  margin: 0 0 0 2vw;
}

button.tag{
  padding: 0.5vw 1.2vw 0.5vw 1.2vw;
  font-size: 1.3vw;
  margin: 1vh 0.5vw 1vh 0.5vw;
  width: auto;
  text-align: -webkit-center;
  display: -webkit-inline-box;
}

button.btn-info{
  margin: 1vh 0 0 0;
}

div.tagsBar{
  margin: 1.5vh 0 1.5vh 2vw;
}

input.addTags{
  margin: 1.5vh 0 1.5vh 2vw;
  width: 88%;
  font-size: 1.5vw;
  color: black;
}